{% include 'bold-product' with product, hide_action: 'break' %}
{% for c in product.collections %}

{% case c.handle %}
  {% when 'haig' %}
     {% assign colname= 'haig' %}
  {% when 'hume' %}
    {% assign colname= 'hume' %}
  {% when 'kendrick' %}
    {% assign colname= 'kendrick' %}
  {% when 'lewis' %}
      {% assign colname= 'lewis' %}
  {% when 'tarbert' %}
      {% assign colname= 'kendrick' %}
  {% when 'lewis-34mm' %}
      {% assign colname= 'lewis-34mm' %}
  {% when 'kendrick-2017' %}
      {% assign colname= 'kendrick-2017' %}
  
{% endcase %}
{% endfor %}

<div class="new-product new-signaturecasing-product">
  <div class="product-one-images">
      <div class="clock-image">
        <img src="{{ 'custom-watch-products-left.png' | asset_url }}" class="featuredPromotionHoverImg" data-hover-img="{{ 'custom-watch-products-left-mouseover.png' | asset_url }}" data-without-hover-img="{{ 'custom-watch-products-left.png' | asset_url }}">
      </div>
      <div class="signature-casing">
         <img src="{{ 'custom-watch-products-dial.png' | asset_url}}" class="featuredPromotionHoverImg" data-hover-img="{{ 'custom-watch-products-dial-mouseover.png' | asset_url}}" data-without-hover-img="{{ 'custom-watch-products-dial.png' | asset_url}}">	
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="product-images">
    <div class="product_new">
        <div class="premium-leather">
          <img src="{{ 'custom-watch-products-1.png' | asset_url }}" class="featuredPromotionHoverImg" data-hover-img="{{ 'custom-watch-products-1-mouseover.png' | asset_url }}" data-without-hover-img="{{ 'custom-watch-products-1.png' | asset_url }}">
        </div>
    </div>
    <div class="product_new">
      <div class="precision-movements">
        <img src="{{ 'custom-watch-products-2.png' | asset_url }}" class="featuredPromotionHoverImg" data-hover-img="{{ 'custom-watch-products-2-mouseover.png' | asset_url }}" data-without-hover-img="{{ 'custom-watch-products-2.png' | asset_url }}">
      </div>
    </div>
    <div class="product_new">
      <div class="elegant-dial-designs">
     <img src="{{ 'custom-watch-products-3.png' | asset_url }}" class="featuredPromotionHoverImg" data-hover-img="{{ 'custom-watch-products-3-mouseover.png' | asset_url }}" data-without-hover-img="{{ 'custom-watch-products-3.png' | asset_url }}">
      </div>
    </div>
  </div>
  
</div>