{% assign dial_imgURL = product.variants.first.sku | append : '-box2-case.jpeg' | file_url %}
{% for c in product.collections %}
  {% case c.handle %}
    {% when 'cashmere-collection' %}
       {% assign firstImage= c.handle | append: '-productImg-1.jpg' | file_url %}
	   {% assign secondImage= c.handle | append: '-productImg-2.jpg' | file_url %}
	   {% assign secondText = 'A NEW CONCEPT IN CASHMERE' %}
    {% when 'watches-with-harris-tweed-straps' %}
       {% assign firstImage= c.handle | append: '-productImg-1.jpg' | file_url %}
	   {% assign secondImage= c.handle | append: '-productImg-2.jpg' | file_url %}
	   {% assign secondText = 'FOM THE LAND COMES THE CLOTH' %}
    {% when 'watches-with-chain-mesh-straps' %}
       {% assign firstImage= c.handle | append: '-productImg-1.jpg' | file_url %}
	   {% assign secondImage= c.handle | append: '-productImg-2.jpg' | file_url %}
	   {% assign secondText = 'DURABLE & STYLISH STAINLESS STEEL' %}
	{% when 'watches-with-leather-straps' %}
       {% assign firstImage= c.handle | append: '-productImg-1.jpg' | file_url %}
	   {% assign secondImage= c.handle | append: '-productImg-2.jpg' | file_url %}
	   {% assign secondText = 'PREMIUM SCOTTISH SOURCED LEATHERS' %}
	{% when 'watches-with-stainless-steel-metal-straps' %}
	   {% assign firstImage= c.handle | append: '-productImg-1.jpg' | file_url %}
	   {% assign secondImage= c.handle | append: '-productImg-2.jpg' | file_url %}
	   {% assign secondText = 'DURABLE & STYLISH STAINLESS STEEL' %}
  {% endcase %}
{% endfor %}

<div class="signatureCasing-prod-section">
  <div class="first-section">
      <div class="section-image">
         <img src="{{ product.variants.first.sku | append : '-box1-case.png' | file_url }}" >
      </div>
      <div class="section-description">
        <p>{{ productDesc[1] }}</p>  
      </div>
  </div>
  <div class="second-section">
      <div class="section-description">
        <p>{{ productDesc[2] }}</p>  
      </div>
      <div class="section-image second-dial-BGimg">
         <img class="second-dial-img" src="{{ product.variants.first.sku | append : '-box2-case.jpeg' | file_url }}" >
      </div>	
  </div>

  <div class="third-section">
      <div class="section-image third-section-description">
         <div class="third-section-image">
           <img src="{{ product.variants.first.sku | append : '-box3-case.jpeg' | file_url }}" >
         </div>
         <div class="section-description third-section-desc">
          <p>{{ productDesc[3] }}</p>  
         </div>
      </div>
  </div>
</div>

<script>
  var windowWidth = $(window).width();
 
  if(windowWidth >= 767 && windowWidth <= 1024)
  {
    var imageURL = "{{ dial_imgURL }}";
   	$('.second-dial-BGimg').css('background-image','url(' + imageURL + ')'); 
    $('.second-dial-img').css('');
  }
</script>