{% if settings.social_twitter_link != '' %}
  <a href="{{ settings.social_twitter_link }}">
    <span class="icon-twitter-square"></span>
    <span class="hidden-xs">Twitter</span>
  </a>
{% endif %}

{% if settings.social_facebook_link != '' %}
  <a href="{{ settings.social_facebook_link }}">
    <span class="icon-facebook-square"></span>
    <span class="hidden-xs">Facebook</span>
  </a>
{% endif %}

{% if settings.social_google_link != '' %}
  <a href="{{ settings.social_google_link }}">
    <span class="icon-google-plus2"></span>
    <span class="hidden-xs">Google Plus</span>
  </a>
{% endif %}

{% if settings.social_youtube_link != '' %}
  <a href="{{ settings.social_youtube_link }}">
    <span class="icon-youtube"></span>
    <span class="hidden-xs">YouTube</span>
  </a>
{% endif %}

{% if settings.social_vimeo_link != '' %}
  <a href="{{ settings.social_vimeo_link }}">
    <span class="icon-vimeo2"></span>
    <span class="hidden-xs">Vimeo</span>
  </a>
{% endif %}

{% if settings.social_pinterest_link != '' %}
  <a href="{{ settings.social_pinterest_link }}">
    <span class="icon-pinterest-square"></span>
    <span class="hidden-xs">Pinterest</span>
  </a>
{% endif %}

{% if settings.social_tumblr_link != '' %}
  <a href="{{ settings.social_tumblr_link }}">
    <span class="icon-tumblr"></span>
    <span class="hidden-xs">Tumblr</span>
  </a>
{% endif %}

{% if settings.social_instagram_link != '' %}
  <a href="{{ settings.social_instagram_link }}">
    <span class="icon-instagram-square"></span>
    <span class="hidden-xs">Instagram</span>
  </a>
{% endif %}

{% if settings.social_linkedin_link != '' %}
  <a href="{{ settings.social_linkedin_link }}">
    <span class="icon-linkedin"></span>
    <span class="hidden-xs">LinkedIn</span>
  </a>
{% endif %}

{% if settings.social_flickr_link != '' %}
  <a href="{{ settings.social_flickr_link }}">
    <span class="icon-flickr3"></span>
    <span class="hidden-xs">Flickr</span>
  </a>
{% endif %}

{% if settings.social_email_link != '' %}
  <a href="mailto:{{ settings.social_email_link }}">
    <span class="icon-mail"></span>
    <span class="hidden-xs">Email</span>
  </a>
{% endif %}
